

<div class="container-fluid container-fluid-custom py-md-5 mb-5">
  <main>
    <div class="row py-md-5 text-center justify-content-center">
      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-4 fw-bold mb-4 position-relative home-title">
          About!
        </h1>
        <p class="fs-5 mb-5">
          NotesMakr is the go-to space for capturing, storing, and editing all
          those fleeting, random thoughts—the ones that pop up uninvited and
          often leave just as quickly. Designed for quick entries and easy
          organization, NotesMakr keeps your "dumbass thoughts" safe and
          accessible, letting you jot down anything from brilliant midnight
          ideas to shitty brain dumps. With a clean, no-frills interface, it's
          built to give your scattered thoughts a home where they can simmer, be
          revisited, or just be a safe stash of your most random musings.
        </p>

        <h1 class="display-4 fw-bold mb-4 position-relative">
          About the Developer!
        </h1>
 
        <p class="fs-5 mb-5">Hi, I'm <span style="font-weight: bold;">Nikhil</span>!</p>
        <p class="fs-5 mb-5">
          I'm passionate about building simple, shitty, no-meaning,
          low-level applications, that may (may-not) land me a job. Anyways,
          you can find me on these platforms:
        </p>
        <div class="d-flex justify-content-center gap-5 mt-3">
          <a
            href="https://www.instagram.com/nkl.zip/"
            target="_blank"
            class="text-decoration-none"
            title="Instagram"
          >
            <i class="fab fa-instagram fa-2x" style="color: #12296c;"></i>
          </a>
          <a
            href="https://leetcode.com/u/nkl_zip/"
            target="_blank"
            class="text-decoration-none"
            title="Leetcode"
          >
            <i class="fas fa-code fa-2x " style="color: #12296c;""></i>
            <!-- LeetCode uses a generic code icon -->
          </a>
          <a
            href="https://www.linkedin.com/in/nikhil-patra-b81906244"
            target="_blank"
            class="text-decoration-none"
            title="LinkedIn"
          >
            <i class="fab fa-linkedin fa-2x" style="color: #12296c;"></i>
          </a>
        </div>
        
      

        <a href="/" class="btn btn-primary btn-lg mt-5"> Go Home! </a>
      </div>
    </div>
  </main>
</div>
